@font-face {
  font-family: 'Futura';
  src: url(../assets/Futura.ttf);
}

.particles div {
  height: 1000%;
}

.splashLogo {
  display: block;
  text-align: center;
  margin: 18px auto;
  font-family: 'Futura';
  width: 100%;
  font-size: 30px;
  position: absolute;
  z-index: 2;
}

.splashVideo {
  display: block;
}

.seedVideo {
  position: relative;
  width: 100%;
}

nav {
  position: fixed;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  z-index: 99999;
}
nav ul li {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.container {
  margin: 0 auto;
  background: white;
}

/*--------------------WHY------------------------*/
.whyContainer {
  height: 100vh;
  margin-top: -4px;
  font-family: 'Futura';
  /*background-image: url(../assets/field.jpg);*/
  background-size: cover;
  /*opacity: 0.8;*/
}

.aim {
  text-align: center;
  padding-top: 18px;
  font-size: 40px;
  color:#6f9a37
}

.whySubs {
  font-size: 30px;
}

.quote {
  font-size: 30px;
  margin-top: 100px;
  color: #685642;
  padding-left: 10px;
}

.buck {
  font-weight: bold;
  font-style: italic;
}

.tradeLegacy {
  font-size: 30px;
  margin-top: 260px;
  color:#685642;
}

/*.whyInfo {
  width: 33%;
  float: right;
  font-size: 28px;
}*/

/*----------------SOLUTION------------------*/
.solutionContainer {
  height: 100vh;
  /*background-image: url(../assets/toronto.jpg);*/
  background-size: cover;
  opacity: 0.8;
  font-family: 'Futura';
}

.solutionHeading {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-top: 80px;
}

.solutionP {
  text-align: center;
  padding-top: 160px;
  font-size: 32px;
  line-height: 1.25;
  opacity: 3;
  font-weight: bold;
  padding: 140px;
}

.solutionPoints {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/*--------------HOW-------------------*/

.howContainer {
  height: 100vh;
  /*background-image: url(../assets/john-towner.jpg);*/
  background-size: cover;
  opacity: 0.9;
  font-family: 'Futura';
}

.resultContainer {
  height: 100vh;
  /*background-image: url(../assets/wheat.jpg)*/
  background-size: cover;
  opacity: 0.9;
  font-family: 'Futura';
}
/*-------------RESULT---------------*/
.formContainer {
  height: 50vh;
  width: 100%;
}

.form {
  display: block;
  padding-top: 50px;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
}
.form lable, input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border-style: inset;
}

.registerButton {
  background-color: #6f9a37;
  color: white;
  border: none;
  width: 101%;
  margin-top: 10px;
  height: 30px;
  font-size: 18px;
  border-radius: 25px;
}


/*Mobile*/
@media screen and (min-width: 480px) {
  .seedVideo {
    min-width: 480px;
  }
}
/*Tablet*/
@media screen and (min-width: 780) {
  .seedVideo {
    min-width: 780;
  }
}
