@font-face {
  font-family: 'Futura';
  src: url(../assets/Futura.ttf);
}

.splashLogo {
  display: block;
  text-align: center;
  margin: 18px auto;
  font-family: 'Futura';
  width: 100%;
  font-size: 30px;
  position: absolute;
  z-index: 2;
}

.splashVideo {
  display: block;
}

.seedVideo {
  position: relative;
  width: 100%;
}
/*--------------------WHY------------------------*/
.whyContainer {
  height: 100vh;
  margin-top: -4px;
  font-family: 'Futura';
  background-image: url(../assets/xander-ashwell.jpg);
  background-size: cover;
  opacity: 0.5;
}

/*.whyContainerLeft {
  width: 50%;
  float: left;
  display: block;
}

.whyContainerRight {
  width: 50%;
  float: right;
  display: block;
}*/

.aim {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

.whySubs {
  font-size: 30px;
}

.quote {
  font-size: 30px;
  margin-top: 100px;
  color: black;
  padding-left: 10px;
}

.buck {
  font-weight: bold;
  font-style: italic;
}

.tradeLegacy {
  font-size: 30px;
  margin-top: 350px;
  color:white;
}

/*.whyInfo {
  width: 33%;
  float: right;
  font-size: 28px;
}*/

/*----------------SOLUTION------------------*/
.solutionContainer {
  height: 100vh;
}
.howContainer {
  height: 100vh;
}

.resultContainer {
  height: 100vh;
}

.registerButton {
  background-color: #6f9a37;
  color: white;
  border: none;
}
/*Mobile*/
@media screen and (min-width: 480px) {
  .seedVideo {
    min-width: 480px;
  }
}
/*Tablet*/
@media screen and (min-width: 780) {
  .seedVideo {
    min-width: 780;
  }
}
